<!-- Header -->
				<header id="header" class="alt">
					<h1 id="logo"><a href="index.html"><span><b>ROBO DIARY</b></span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="{{site.baseurl}}/index.html">HOME</a></li>
							<li><a href="{{site.baseurl}}/about.html" >ABOUT</a></li>
							<li><a href="{{site.baseurl}}/projects/index.html" >PROJECTS</a></li>
							<li><a href="{{site.baseurl}}/ourstory/index.html">OUR STORY</a></li>
							<li><a href="{{site.baseurl}}/products/index.html" >SHOP</a></li>
							<li class="submenu">
								<a href="#" class="button special">MORE</a>
								<ul>
									<li><a href="{{site.baseurl}}/contact.html">Contact</a></li>
									<li><a href="{{site.baseurl}}/sponsorship_page.html">OUR SPONSORS</a></li>
									<!--<li><a href="left-sidebar.html">Left Sidebar</a></li>
									<li><a href="right-sidebar.html">Right Sidebar</a></li>
									-->
								</ul>
							</li>
							
						</ul>
					</nav>
				</header>