<article id="main">
		 		   <!-- One -->
						<section class="wrapper style2 container special-alt">
							<div class="row 50%">
								<div class="8u 12u(narrower)">

									<header>
										<h2><strong></strong></h2>
									</header>
									<p1>
									{{content}}
									</p1>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button">Find Out More</a></li>
										</ul>
									</footer>

								</div>
								<!--<div class="4u 12u(narrower) important(narrower)">

									<ul class="featured-icons">
										
									</ul>

								</div>
								-->
								
							</div>
						</section>
					</article>