<article id="main">
		 		   <!-- One -->
						<section class="wrapper style2 container special-alt">
							<div class="row 50%">
								<div class="8u 12u(narrower)">

									<header>
										<h2><strong></strong></h2>
									</header>
									{{content}}
									<p><br></p>
									<footer>
										<ul class="buttons">
											<li><a href="#" class="button">Find Out More</a></li>
										</ul>
									</footer>

								</div>
								<div class="4u 12u(narrower) important(narrower)">

									
										<span><img src="{{site.baseurl}}/images/arm-icon7.png" class="arm-icons2"></span>

								</div>
							</div>
						</section>
					</article>