<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<!--<header>
							<h2>OUR STORY</h2>
						</header>
						-->	
						<p><strong>Checkout Our Story
						<br>about these Projects.</strong><p>
						<br />
						<footer>
							<ul class="buttons vertical">
								<li><a href="{{site.baseurl}}/ourstory/index.html" class="button fit scrolly">OUR STORY</a></li>
							</ul>
						</footer>

					</div>

				</section>