<article id="main">
		 		   <!-- Three -->
						<section class="wrapper style3 container special">

							<header class="major">
								<h2><strong>{{page.title}}</strong></h2>
							</header>

							<div class="row">
								<div class="6u 12u(narrower)">

									<section>
										<a href="{{site.baseurl}}/projects/lfr.html" class="image featured"><img src="{{site.baseurl}}/images/lfr.jpg" alt="" /></a>
										<header>
											<h3>Line Follower Robot</h3>
										</header>
										<p>A line follower robot is one of the simple robots that one use to start as their interest.
											 It is a simple robot that can follow a colored line on a smooth surface of different color.</p>
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>
										<a href="{{site.baseurl}}/projects/msr.html" class="image featured"><img src="{{site.baseurl}}/images/pic01.jpg" alt="" /></a>
										<header>
											<h3>Maze Solver Robot</h3>
										</header>
										<p>A Maze Solver Robot is an Autonomous Robot that is capable of finding the correct path to come out of a maze using an Algorithm.</p>
									</section>

								</div>
							</div>
							<div class="row">
								<div class="6u 12u(narrower)">

									<section>
										<a href="{{site.baseurl}}/projects/bootload.html" class="image featured"><img src="{{site.baseurl}}/images/bootload.jpg" alt="" /></a>
										<header>
											<h3>Bootload Your Raw ATmega 328p</h3>
										</header>
										<p>Bootloading your raw ATmega 328p IC can be tricky sometimes depending on the IC varients you get from the market. But here is what we know...</p>
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>
										<a href="{{site.baseurl}}/projects/proximity.html" class="image featured"><img src="{{site.baseurl}}/images/proximity.jpg" alt="" /></a>
										<header>
											<h3>Proximity Sensors</h3>
										</header>
										<p>A proximity sensor is a sensor able to detect the presence of nearby objects without any physical contact.</p>
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>
										<a href="{{site.baseurl}}/projects/diyboards.html" class="image featured"><img src="{{site.baseurl}}/images/diyboards.jpg" alt="" /></a>
										<header>
											<h3>DIY Arduino Board</h3>
										</header>
										<p>As Arduino Boards are open source techonology, a self made clone of Arduino UNO is very common. These boards are often referds as DIY Boards.</p>
									</section>

								</div>
								<div class="6u 12u(narrower)">

									<section>
										<a href="{{site.baseurl}}/projects/moisturesensor.html" class="image featured"><img src="{{site.baseurl}}/images/moisturesensor.jpg" alt="" /></a>
										<header>
											<h3>Moisture Sensor</h3>
										</header>
										<p>A Moisture Sensor is a sensor that can measure the moisture in soil. Here it is, how it works.</p>
									</section>

								</div>
							</div>

							<footer class="major">
								<ul class="buttons">
									<li><a href="#" class="button">See More</a></li>
								</ul>
							</footer>

						</section>

				</article>
