<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
							<h2>Support us</h2>
						</header>	
						<p><strong>
						<br>Did you like these<br>Projects.</strong><p>
						<br />
						<footer>
							<ul class="buttons vertical">
								<li><a href="{{site.baseurl}}/sponsorship_page.html" class="button fit scrolly">Sponsor Us</a></li>
							</ul>
						</footer>

					</div>

				</section>