<!DOCTYPE HTML>
<html>
	<head>
		<!--<base href="/testpage">-->
		<title>{{page.title}}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link class="css" rel="stylesheet" href="{{site.baseurl}}/assets/css/bootload.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body class="index">
		<div id="page-wrapper">
			{% include basicheader.html %}
			{% include banner.html %}
			{% include basic.html %}
			{%include cta.html %}
			{% include footer.html %}
		</div>
		<!-- Scripts -->
			<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
			<script src="{{site.baseurl}}/assets/js/jquery.dropotron.min.js"></script>
			<script src="{{site.baseurl}}/assets/js/jquery.scrolly.min.js"></script>
			<script src="{{site.baseurl}}/assets/js/jquery.scrollgress.min.js"></script>
			<script src="{{site.baseurl}}/assets/js/skel.min.js"></script>
			<script src="{{site.baseurl}}/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{{site.baseurl}}/assets/js/main.js"></script>
	</body>		
</html>